@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Write Your First C# Code </h1>

<p role="status">Answer: @inc</p>

<button class="btn btn-primary" @onclick="RunCode">Run</button>

@code {
    private int answer = 5;
    private string inc = "HELLO WORLD!" ;

    private void RunCode()
    {
        inc = "Congratulations";
    }
}